.lt-registration-page{
  background-color: #f7f7f7;
  header{
    background-color: white;
    nav{
      .navbar-brand{
        @include from($desktop) {
          justify-content: center;
          display: flex;
        }
      }
    }
  }
  .container{
    .main{
      .columns{

        .column{
          button{
            width: 300px;
            box-sizing: content-box;
          }
        }

          a{
            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }

      }
      width: 500px;
      margin: 0 auto;
      padding: 20px 50px;
        .btn{
          justify-content: center;
          display: flex;
          button{
            //text-align: center;
            color: #fff;
            cursor: default;
            background: #b9babd none;
            border: none;
            width: 360px;
            border-radius: 25px;
            padding: 10px 26px;
          }
        }
      }
      .email{
        >div{
          border: 1px solid #e2e2e2;
          border-radius: 6px;
        }
        >label{
          font-size: 15px;
          color: #666;
        }
      }
      .field{
        .control{
          label{
            input{
              background-color: transparent;
              border: none;
            }
            a{
              position: absolute;
              right: 20px;
              top: 13px;
              font-size: 12px;
              color: #888;
              transition: all .2s;
            }
          }
        }
      }
    }

  footer{
    position: absolute;
    bottom: 0;
  }
  }
